@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css);
@charset "UTF-8";

/* Font */

/* Variables */

* {
  font-family: "Poppins", sans-serif;
}

/* Dashboard */

body > .dashboard {
  background: #f3f4f6;
  min-height: 100vh;
  overflow: hidden;
}

body > .dashboard > .sidebar {
  position: fixed;
  background: #1f2937;
  width: 250px;
  border-right: 2px solid #4b5563;
  display: block;
  max-height: 100%;
  min-height: 100%;
  display: none;
  z-index: 30;
}

@media (min-width: 1024px) {
  body > .dashboard > .sidebar {
    display: block;
  }
}

body > .dashboard > .sidebar.mobile-show {
  display: block !important;
}

body > .dashboard > .sidebar > .sidebar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-header {
  position: relative;
  padding: 1rem 0;
  text-align: center;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-header .toggle-sidebar-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.4rem;
  color: #9ca3af;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-header .toggle-sidebar-menu i {
  font-size: 2rem;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-header .sidebar-brand {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #d1d5db;
  text-decoration: none;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu {
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 1 1 0%;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu {
  padding: 0;
  margin: 0;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.header {
  padding: 12px 28px;
  margin-top: 1.5rem;
  color: #d1d5db;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.item a {
  text-decoration: none;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.item {
  position: relative;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.item a {
  padding: 12px 32px 12px 72px;
  color: #d1d5db;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.item a .icon {
  color: #d1d5db;
  position: absolute;
  top: calc(50% - 14px);
  left: 24px;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.item.active a {
  background: rgba(30, 58, 138, 0.5);
  border-left: 5px solid #60a5fa;
  padding: 12px 32px 12px 67px;
  color: #60a5fa;
  font-weight: 600;
}

body > .dashboard > .sidebar > .sidebar-container .sidebar-menu ul.menu li.item.active a .icon {
  color: #60a5fa;
}

body > .dashboard > .navbar {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 0;
  position: fixed;
  top: 0;
  background: #f9fafb;
  max-height: 86px;
  z-index: 20;
  width: 100vw;
  max-width: 100vw;
}

@media (min-width: 1024px) {
  body > .dashboard > .navbar {
    left: 250px;
    width: calc(100% - 250px);
    max-width: calc(100% - 250px);
  }
}

body > .dashboard > .navbar > .navbar-container {
  justify-content: space-between;
  display: flex;
  position: relative;
  width: 100%;
}

body > .dashboard > .navbar > .navbar-container .navbar-header {
  padding: 10px;
}

body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand {
  align-self: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand {
    border-left: 10px solid #60a5fa;
  }
}

body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand a {
  color: #374151;
  text-decoration: none;
}

body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand .title {
  font-weight: 600;
  display: none;
}

@media (min-width: 1024px) {
  body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand .title {
    display: inline-block;
  }
}

body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand .subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
  display: none;
}

@media (min-width: 1024px) {
  body > .dashboard > .navbar > .navbar-container .navbar-header .navbar-brand .subtitle {
    display: inline-block;
  }
}

body > .dashboard > .navbar > .navbar-container .toggle-sidebar {
  display: inline-block;
  height: 86px;
  padding: 30px;
}

body > .dashboard > .navbar > .navbar-container .toggle-sidebar a {
  color: #374151;
}

@media (min-width: 1024px) {
  body > .dashboard > .navbar > .navbar-container .toggle-sidebar {
    display: none;
  }
}

body > .dashboard > .navbar > .navbar-container .menu {
  align-self: center;
  margin: 0;
  padding: 10px;
  display: flex;
  padding: 0;
  flex-direction: row;
  height: 86px;
}

body > .dashboard > .navbar > .navbar-container .menu li {
  align-self: center;
  height: 86px;
  padding: 30px;
}

body > .dashboard > .navbar > .navbar-container .menu li a {
  align-self: center;
  text-decoration: none;
  color: #1f2937;
}

body > .dashboard > .navbar > .navbar-container .menu li a .icon {
  display: inline;
  margin: 0 10px;
}

body > .dashboard > .main {
  margin-top: 86px;
  padding-top: 1rem;
}

@media (min-width: 1024px) {
  body > .dashboard > .main {
    margin-left: 250px;
  }
}

body > .dashboard > .main > .container {
  margin-top: 1rem;
  padding: 0 2rem;
  position: relative;
}

body > .dashboard > .main .content-header .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  body > .dashboard > .main .content-header .header {
    flex-direction: row;
  }
}

body > .dashboard > .main .content-header .header .title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #374151;
}

body > .dashboard > .main .content-header .header .actions {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  body > .dashboard > .main .content-header .header .actions {
    margin-top: 0;
  }
}

body > .dashboard > .main .content-header .breadcrumb {
  display: none;
}

@media (min-width: 1024px) {
  body > .dashboard > .main .content-header .breadcrumb {
    display: flex;
  }
}

body > .dashboard > .main .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

body > .login-container .main {
  display: flex;
  width: 100vw;
}

body > .login-container .main .background-overlay {
  display: none;
}

@media (min-width: 1024px) {
  body > .login-container .main .background-overlay {
    display: block;
    flex: 1 1 0%;
    z-index: 99;
  }
}

body > .login-container .main .login-panel {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  padding: 3rem 2rem;
  position: relative;
}

@media (min-width: 1024px) {
  body > .login-container .main .login-panel {
    width: 400px;
  }
}

body > .login-container .main .login-panel .panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

body > .login-container .main .login-panel .form .title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: #f3f4f6;
}

body > .login-container .main .login-panel .form .header {
  margin-top: 1rem;
  color: #f3f4f6;
  text-align: center;
}

body > .login-container .main .login-panel .form .header div:nth-child(1) {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

body > .login-container .main .login-panel .form .header div:nth-child(2) {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

body > .login-container .main .login-panel .form form {
  margin: 2rem 0;
}

body > .login-container .main .login-panel .form form label {
  color: #e5e7eb;
}

body > .login-container .main .login-panel .form form button {
  padding: 0.7rem 5rem;
  border-radius: 2rem;
}

body > .login-container .input-group {
  border-radius: 2rem;
  background: white;
  display: flex;
  position: relative;
  overflow: hidden;
  color: #374151;
  margin-bottom: 1rem;
}

body > .login-container .input-group input {
  padding: 0.7rem 1rem;
  padding-left: 3rem;
  outline: none;
  flex: 1 1 0%;
  color: #374151;
}

body > .login-container .input-group .icon {
  position: absolute;
  top: 50%;
  margin-top: -0.7rem;
  margin-left: 1.2rem;
  color: #374151;
}

.panel {
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
  position: relative;
  display: flex;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.2);
}

.panel:hover {
  filter: brightness(115%);
}

.panel .icon {
  padding: 0.3rem;
  color: #f3f4f6;
}

.panel .icon svg {
  height: 4rem;
  width: 4rem;
}

.panel .content {
  align-self: center;
  flex: 1 1 0%;
  color: #f3f4f6;
}

.panel .content .title {
  font-weight: 500;
}

.panel .content .main {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.panel .content .link {
  position: absolute;
  display: inline-block;
  color: #d1d5db;
  bottom: 0;
  right: 0;
  margin-bottom: 0.7rem;
  margin-right: 0.7rem;
}

.panel.panel-primary {
  background: #2F7AF9;
}

.panel.panel-danger {
  background: #FA5158;
}

.panel.panel-warning {
  background: #ffc107;
}

.panel.panel-success {
  background: #198754;
}

.table > :not(:last-child) > :last-child > * {
  background: #f3f4f6;
  border-bottom: 1px solid #d1d5db !important;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table td {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563 !important;
}

.table th {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151 !important;
}

.table thead th {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-size: 500;
  color: #374151 !important;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e5e7eb;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e5e7eb;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #7abaff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #b3b7bb;
}

.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #8fd19e;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #86cfda;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #ed969e;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfc;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #95999c;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #ffffff;
  background-color: #212529;
  border-color: #383f45;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #ffffff;
  background-color: #212529;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #383f45;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-hover tbody tr:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.dataTables_wrapper .row:nth-child(1) {
  margin-bottom: 1rem;
}

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:before, table.dataTable > thead .sorting_asc_disabled:before, table.dataTable > thead .sorting_desc_disabled:before {
  right: 0.5em;
  top: 0.4em;
  transform: rotate(-90deg) translateY(-3px);
  content: "›";
}

table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_asc:after, table.dataTable > thead .sorting_desc:after, table.dataTable > thead .sorting_asc_disabled:after, table.dataTable > thead .sorting_desc_disabled:after {
  right: 0.5em;
  bottom: 0.4em;
  transform: rotate(90deg);
  content: "›";
}

table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:after {
  opacity: 0.7;
}

.loading-overlay {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  background: #f3f4f6;
  z-index: 40;
  display: flex;
  justify-content: center;
}

.loading-overlay .lds-ripple {
  align-self: center;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-overlay .lds-ripple div {
  position: absolute;
  border: 4px solid #60a5fa;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading-overlay .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .negative-illustration {
    margin-top: -80px;
  }
}
