/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

/* Variables */
@import "variables";
$primaryColor: theme('colors.blue.400');
$contentBackgroundColor: theme('colors.gray.100');
$sidebarWidth: 250px;
$sidebarBackgroundColor: theme('colors.gray.800');
$sidebarBorderColor: theme('colors.gray.600');
$sidebarItemColor: theme('colors.gray.300');
$sidebarItemActive: $primaryColor;
$sidebarItemBackgroundActive: #1e3a8a;
$navbarBackgroundColor: theme('colors.gray.50');
$navbarHeight: 86px;

// functions
@function color($key: "blue") {
    @return map-get($colors, $key);
}
@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);   
}

// default
* {
    font-family: 'Poppins', sans-serif;
    // font-family: 'Noto Sans TC', sans-serif;
    // font-family: 'Nunito', sans-serif #{!important};
}

/* Dashboard */
body > .dashboard {
    background: $contentBackgroundColor;
    min-height: 100vh;
    overflow: hidden;
    
    & > .sidebar {
        position: fixed;
        background: $sidebarBackgroundColor;
        width: $sidebarWidth;
        border-right: 2px solid #{$sidebarBorderColor};
        display: block;
        max-height: 100%;
        min-height: 100%;
        display: none;
        z-index: 30;

        @screen lg {
            display: block;
        }

        &.mobile-show {
            display: block #{!important};
        }
        
        & > .sidebar-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: 100%;
            min-height: 100%;
            overflow-y: auto;

            .sidebar-header {
                position: relative;
                padding: 1rem 0;
                text-align: center;
                .toggle-sidebar-menu {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: .4rem;
                    color: theme('colors.gray.400');
                    i {
                        font-size: 2rem;
                    }
                }
                .sidebar-brand {
                    @apply tw-font-semibold tw-text-xl;
                    color: theme('colors.gray.300');
                    text-decoration: none;
                }
            }

            .sidebar-menu {
                padding-top: 30px;
                padding-bottom: 30px;
                flex: 1 1 0%;
                ul.menu {
                    padding: 0;
                    margin: 0;


                    li.header {
                        padding: 12px 28px;
                        margin-top: 1.5rem;
                        color: $sidebarItemColor;
                    }

                    // general
                    li.item {
                        a {
                            text-decoration: none;
                        }
                    }

                    // item default
                    li.item {
                        position: relative;
                        a {
                            padding: 12px 32px 12px 72px;
                            color: $sidebarItemColor;
                            display: block;
                            @apply tw-text-base;
                            .icon {
                                color: $sidebarItemColor;
                                position: absolute;
                                top: calc(50% - 14px);
                                left: 24px;
                            }
                        }
                    }
                    li.item.active {
                        a {
                            background: rgba($color: $sidebarItemBackgroundActive, $alpha: .5);
                            border-left: 5px solid $primaryColor;
                            padding: 12px 32px 12px 67px;
                            color: $sidebarItemActive;
                            font-weight: 600;
                            .icon {
                                color: $sidebarItemActive;
                            }
                        }
                    }
                }
            }

            .sidebar-footer {
                
            }
        }
    }

    & > .navbar {
        @apply tw-shadow;
        padding: 0;
        position: fixed;
        top: 0;
        background: $navbarBackgroundColor;
        max-height: $navbarHeight;
        z-index: 20;
        width: 100vw;
        max-width: 100vw;

        @screen lg {
            left: $sidebarWidth;
            width: calc(100% - #{$sidebarWidth});
            max-width: calc(100% - #{$sidebarWidth});
        }

        & > .navbar-container {
            @apply tw-justify-between;
            display: flex;
            position: relative;
            width: 100%;

            .navbar-header {
                padding: 10px;
                .navbar-brand {
                    align-self: center;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;

                    @screen lg {
                        border-left: 10px solid $primaryColor;
                    }

                    a {
                        color: theme('colors.gray.700');
                        text-decoration: none;
                    }

                    .title {
                        @apply tw-font-semibold;
                        display: none;

                        @screen lg {
                            display: inline-block;
                        }
                    }

                    .subtitle {
                        @apply tw-text-xs;
                        display: none;

                        @screen lg {
                            display: inline-block;
                        }
                    }
                }
            }

            .toggle-sidebar {
                display: inline-block;
                height: $navbarHeight;
                padding: 30px;
                a {
                    color: theme('colors.gray.700');
                }

                @screen lg {
                    display: none;
                }
            }

            .menu {
                align-self: center;
                margin: 0;
                padding: 10px;
                display: flex;
                padding: 0;
                flex-direction: row;
                height: $navbarHeight;
                li {
                    align-self: center;
                    height: $navbarHeight;
                    padding: 30px;
                    
                    a {
                        align-self: center;
                        text-decoration: none;
                        color: theme('colors.gray.800');

                        .icon {
                            display: inline;
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }

    & > .main {
        margin-top: $navbarHeight;
        padding-top: 1rem;
        
        @screen lg {
            margin-left: $sidebarWidth;
        }

        & > .container {
            margin-top: 1rem;
            padding: 0 2rem;
            position: relative;
        }

        .content-header {
            .header {
                @apply tw-flex tw-justify-between tw-flex-col;

                @screen lg {
                    @apply tw-flex-row;
                }

                .title {
                    @apply tw-text-3xl tw-font-semibold;
                    color: theme('colors.gray.700');
                }

                .actions {
                    margin-top: 1rem;

                    @screen lg {
                        margin-top: 0;
                    }
                }
            }

            .breadcrumb {
                display: none;

                @screen lg {
                    display: flex;
                }
            }
        }

        .content {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

// 
body > .login-container {
    .main {
        display: flex;
        width: 100vw;
        
        .background-overlay {
            display: none;
            @screen lg {
                display: block;
                flex: 1 1 0%;
                z-index: 99;
            }
        }


        .login-panel {
            width: 100%;
            height: 100vh;
            background: rgba($color: #000000, $alpha: .6);
            padding: 3rem 2rem;
            position: relative;

            @screen lg {
                width: 400px;
            }

            .panel-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            .header {

            }

            .form {
                .title {
                    @apply tw-text-3xl tw-font-semibold;
                    text-align: center;
                    color: theme('colors.gray.100');
                }
                .header {
                    margin-top: 1rem;
                    color: theme('colors.gray.100');
                    text-align: center;
        
                    div {
                        &:nth-child(1) {
                            @apply tw-font-semibold tw-text-xl;
                        }
                        &:nth-child(2) {
                            @apply tw-text-sm;
                        }
                    }
                }
                form {
                    margin: 2rem 0;
                    label {
                        color: theme('colors.gray.200');
                    }
                    button {
                        padding: .7rem 5rem;
                        border-radius: 2rem;
                    }
                }
            }
        }
    }

    .input-group {
        border-radius: 2rem;
        background: white;
        display: flex;
        position: relative;
        overflow: hidden;
        color: theme('colors.gray.700');
        margin-bottom: 1rem;

        input {
            padding: .7rem 1rem;
            padding-left: 3rem;
            outline: none;
            flex: 1 1 0%;
            color: theme('colors.gray.700');
        }

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -.7rem;
            margin-left: 1.2rem;
            color: theme('colors.gray.700');
        }
    }
}

// components
@import "components/widget";
@import "components/table";

// 
@screen lg {
    .negative-illustration {
        margin-top: -80px;
    }
}